body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/images/geometric\ background.jpg');
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#user-profile-img {
  margin-bottom: 25px;
}

img.game-preview {
  max-height: 100%;
  max-width: 100%;
}

.needs-background {
  background-image: url('../public/images/background.jpg');
}

#user-profile-img {
  max-width: 25%;
  max-height: 25%;
}